:root{
    --negro:#212529;
    --gris:#343a40; 
    --grisClaro:#6c757d;
    --blanco:#dee2e6;
  }
  
  
  
  
  body{
    width: 100%;
    margin: 0 auto;
    font-family: "Cormorant Garamond", serif;
  }
  
  a{
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
  
  nav{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-rows: 50px;
    position: relative;
    z-index: 10;
  }
  
  .logo{
    width: 50px;
    height: 50px;
  }
  
  .left{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .center ul{
    display: flex;
    justify-content:space-around;
    list-style: none;
    
  }
  
  .center li{
    margin-left: 15px;
    transition: all 0.3s;
    font-weight: bold;
    font-size: 18px;
  
  }
  
  .center li:hover{
    margin-top: 5px;
    font-size: 20px;
  }
  
  
  .right{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
  }
  
  .right img{
    width: 24px;
    height: 24px;
  }
  
  
.container{
    display: grid;
    background-image: url(./img/fondo.jpg);
    background-size: cover;
    grid-template-columns: repeat(6, minmax(200px,1fr));
    gap: 20px;
    grid-template-rows: 94vh;
    transition: all 0.5s;
    
}


/* CSS */
.button-86 {
  all: unset;
  width: 150px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-86::after,
.button-86::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: gray;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: var(--blanco);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;

}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

.motor,.capHusillo,.ejes,.sistATC,.sistRef,.sistLub{
    position: relative;

}

.primer,.segundo,.tercero,.cuarto,.quinto,.sexto{
    position: absolute;
    top: 40%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.container a{
    color: var(--negro);
    font-size: 20px;
}
/* 
///////////////////////////////////////////////////////// */

.contmotor{
  position: relative;
  
}


.motori{
position: absolute;
display: grid;
grid-template-columns: repeat(2,1fr);
grid-template-rows: 40px 180px 80px;
max-width: 600px;
min-width: 400px;
height: 350px;
background-color: var(--blanco);
z-index: 10;
/* top: -800px;
left: 25%; */
border-radius: 20px;
top: -130vh;
left: 0;
right: 0;bottom: 0;
margin: auto;
}

.imgmotor{
  width: 300px;
  display: grid;
  grid-row-end:4 ;
  grid-row-start:2 ;
  align-self: center;
  padding: 15px;
  border-radius: 40px;
}
.motorInfo{
  display: grid;
  grid-row-end:4 ;
  grid-row-start:2 ;
  grid-column-start: 2;
  grid-column-end: 3;
  margin-left: 15px;
}

.close1{
  display: grid;
  grid-row-end:2 ;
  grid-row-start:1 ;
  grid-column-start: 2;
  grid-column-end: 3;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.motor1,.motor2,.motor3,.motor4,.motor5{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.infoSec1 p{
  margin: 0;
}

.infoGrup1{
  position: absolute;
  top: -78vh;
  left: 135vh;
  background-color: var(--blanco);
  padding: 5px;
  border-radius: 20px;
}

.infoGrup2{
  position: absolute;
  top: -71vh;
  left: 135vh;
  background-color: var(--blanco);
  padding: 5px;
  border-radius: 20px;
}

.infoGrup3{
  position: absolute;
  top: -64vh;
  left: 135vh;
  background-color: var(--blanco);
  padding: 5px;
  border-radius: 20px;
}

.infoGrup4{
  position: absolute;
  top: -57vh;
  left: 135vh;
  background-color: var(--blanco);
  padding: 5px;
  border-radius: 20px;
}

.inactive{
  display: none;
}

.opaco{
  /* backdrop-filter:var(--gris); */
  opacity: 0.6;
  transition: all 0.5s;
}

/* 
////////////////////////////////////////////////// */


    
.contCapHusillo{
  position: relative;

}


.capHusilloo{
position: absolute;
display: grid;
grid-template-columns: repeat(2,1fr);
grid-template-rows: 40px 180px 80px;
max-width: 600px;
min-width: 400px;
height: 350px;
background-color: var(--blanco);
z-index: 10;
/* top: -800px;
left: 25%; */
border-radius: 20px;
top: -130vh;
left: 0;
right: 0;bottom: 0;
margin: auto;
}

.imgcapHusilloo{
  width: 200px;
  display: grid;
  grid-row-end:4 ;
  grid-row-start:2 ;
  align-self: center;
  margin-left: 25px;
  border-radius: 40px;
}
.capHusilloonfo{
  display: grid;
  grid-row-end:4 ;
  grid-row-start:2 ;
  grid-column-start: 2;
  grid-column-end: 3;
  margin-left: 15px;
}

.close2{
  display: grid;
  grid-row-end:2 ;
  grid-row-start:1 ;
  grid-column-start: 2;
  grid-column-end: 3;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.capHusilloo1,.capHusilloo2,.capHusilloo3,.capHusilloo4,.capHusilloo5{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.infoSec2 p{
  margin: 0;
}

.infocapHusillo1{
  position: absolute;
  top: -78vh;
  left: 135vh;
  background-color: var(--blanco);
  padding: 5px;
  border-radius: 20px;
}

.infocapHusillo2{
  position: absolute;
  top: -71vh;
  left: 135vh;
  background-color: var(--blanco);
  padding: 5px;
  border-radius: 20px;
}


.infocapHusillo3{
    position: absolute;
    top: -64vh;
    left: 135vh;
    background-color: var(--blanco);
    padding: 5px;
    border-radius: 20px;
  }
  
  .infocapHusillo4{
    position: absolute;
    top: -57vh;
    left: 135vh;
    background-color: var(--blanco);
    padding: 5px;
    border-radius: 20px;
  }
/* /////////////////////////////////////////////// */


.ContEjes{
  position: relative;

}


.ejess{
position: absolute;
display: grid;
grid-template-columns: repeat(2,1fr);
grid-template-rows: 40px 180px 80px;
max-width: 600px;
min-width: 400px;
height: 350px;
background-color: var(--blanco);
z-index: 10;
/* top: -800px;
left: 25%; */
border-radius: 20px;
top: -130vh;
left: 0;
right: 0;bottom: 0;
margin: auto;
}

.imgejess{
  width: 300px;
  display: grid;
  grid-row-end:4 ;
  grid-row-start:2 ;
  align-self: center;
  margin-left: 25px;
  border-radius: 40px;
}
.ejessnfo{
  display: grid;
  grid-row-end:4 ;
  grid-row-start:2 ;
  grid-column-start: 2;
  grid-column-end: 3;
  margin-left: 15px;
}

.close3{
  display: grid;
  grid-row-end:2 ;
  grid-row-start:1 ;
  grid-column-start: 2;
  grid-column-end: 3;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.ejess1,.ejess2,.ejess3,.ejess4,.ejess5{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.infoSec3 p{
  margin: 0;
}

.infoEjes1{
  position: absolute;
  top: -77vh;
  left: 135vh;
  background-color: var(--blanco);
  padding: 5px;
  border-radius: 20px;
}

.infoEjes2{
  position: absolute;
  top: -70vh;
  left: 135vh;
  background-color: var(--blanco);
  padding: 5px;
  border-radius: 20px;
}
.infoEjes3{
    position: absolute;
    top: -64vh;
    left: 135vh;
    background-color: var(--blanco);
    padding: 5px;
    border-radius: 20px;
  }
  
  .infoEjes4{
    position: absolute;
    top: -57vh;
    left: 135vh;
    background-color: var(--blanco);
    padding: 5px;
    border-radius: 20px;
  }

/* 
///////////////////////////////////////////////////////// */

.contsistATC{
  position: relative;

}


.sistATCi{
position: absolute;
display: grid;
grid-template-columns: repeat(2,1fr);
grid-template-rows: 40px 180px 80px;
max-width: 600px;
min-width: 400px;
height: 350px;
background-color: var(--blanco);
z-index: 10;
/* top: -800px;
left: 25%; */
border-radius: 20px;
top: -130vh;
left: 0;
right: 0;bottom: 0;
margin: auto;
}

.imgsistATC{
  width: 300px;
  display: grid;
  grid-row-end:4 ;
  grid-row-start:2 ;
  align-self: center;
  padding: 15px;
  border-radius: 40px;
}
.sistATCInfo{
  display: grid;
  grid-row-end:4 ;
  grid-row-start:2 ;
  grid-column-start: 2;
  grid-column-end: 3;
  margin-left: 15px;
}

.close4{
  display: grid;
  grid-row-end:2 ;
  grid-row-start:1 ;
  grid-column-start: 2;
  grid-column-end: 3;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.sistATC1,.sistATC2,.sistATC3,.sistATC4,.sistATC5{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.infoSec4 p{
  margin: 0;
}

.infosistATC1{
  position: absolute;
  top: -76vh;
  left: 135vh;
  background-color: var(--blanco);
  padding: 5px;
  border-radius: 20px;
}

.infosistATC2{
  position: absolute;
  top: -67vh;
  left: 135vh;
  background-color: var(--blanco);
  padding: 5px;
  border-radius: 20px;
}

.infosistATC3{
  position: absolute;
  top: -58vh;
  left: 135vh;
  background-color: var(--blanco);
  padding: 5px;
  border-radius: 20px;
}

/* 
/////////////////////////////////////////////////////// */

.contSistRef{
  position: relative;

}


.sistemRef{
position: absolute;
display: grid;
grid-template-columns: repeat(2,1fr);
grid-template-rows: 40px 180px 80px;
max-width: 600px;
min-width: 400px;
height: 350px;
background-color: var(--blanco);
z-index: 10;
/* top: -800px;
left: 25%; */
border-radius: 20px;
top: -130vh;
left: 0;
right: 0;bottom: 0;
margin: auto;
}

.imgsistemRef{
  width: 300px;
  display: grid;
  grid-row-end:4 ;
  grid-row-start:2 ;
  align-self: center;
  margin-left: 25px;
  border-radius: 40px;
}
.sistemRefnfo{
  display: grid;
  grid-row-end:4 ;
  grid-row-start:2 ;
  grid-column-start: 2;
  grid-column-end: 3;
  margin-left: 15px;
}

.close5{
  display: grid;
  grid-row-end:2 ;
  grid-row-start:1 ;
  grid-column-start: 2;
  grid-column-end: 3;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.sistemRef1,.sistemRef2,.sistemRef3,.sistemRef4,.sistemRef5{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.infoSec5 p{
  margin: 0;
}

.infosistemRef1{
  position: absolute;
  top: -75vh;
  left: 135vh;
  background-color: var(--blanco);
  padding: 5px;
  border-radius: 20px;
}

.infosistemRef2{
    position: absolute;
    top: -60vh;
    left: 135vh;
    background-color: var(--blanco);
    padding: 5px;
    border-radius: 20px;
  }

/* 
////////////////////////////////////////////////////// */
    
.contSistLub{
    position: relative;
  
  }
  
  
  .sistLubr{
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 40px 180px 80px;
  max-width: 600px;
  min-width: 400px;
  height: 350px;
  background-color: var(--blanco);
  z-index: 10;
  /* top: -800px;
  left: 25%; */
  border-radius: 20px;
  top: -130vh;
  left: 0;
  right: 0;bottom: 0;
  margin: auto;
  }
  
  .imgsistLubr{
    width: 300px;
    display: grid;
    grid-row-end:4 ;
    grid-row-start:2 ;
    align-self: center;
    margin-left: 25px;
    border-radius: 40px;
  }
  .sistLubrnfo{
    display: grid;
    grid-row-end:4 ;
    grid-row-start:2 ;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-left: 15px;
  }
  
  .close6{
    display: grid;
    grid-row-end:2 ;
    grid-row-start:1 ;
    grid-column-start: 2;
    grid-column-end: 3;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }
  
  .sistLubr1,.sistLubr2,.sistLubr3,.sistLubr4,.sistLubr5{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .infoSec6 p{
    margin: 0;
  }
  
  .infosistLub1{
    position: absolute;
    top: -67vh;
    left: 135vh;
    background-color: var(--blanco);
    padding: 5px;
    border-radius: 20px;
  }

  @media screen and (max-width: 1366px) {
    .motori{
      top: -110vh;
    }

    .infoGrup1{
      top: -74vh;
      left: 158vh;
    }
    .infoGrup2{
      top: -64vh;
      left: 158vh;
    }
    .infoGrup3{
      top: -53vh;
      left: 158vh;
    }
    .infoGrup4{
      top: -42vh;
      left: 158vh;
    }

    .capHusilloo{
      top: -110vh;
    }

    .infocapHusillo1{
      top: -74vh;
      left: 158vh;
    }

    .infocapHusillo2{
      top: -64vh;
      left: 158vh;
    }
    .infocapHusillo3{
      top: -53vh;
      left: 158vh;
    }
    .infocapHusillo4{
      top: -42vh;
      left: 158vh;
    }

    .ejess{
      top: -110vh;
    }

    .infoEjes1{
      top: -74vh;
      left: 158vh;
    }

    .infoEjes2{
      top: -64vh;
      left: 158vh;
    }
    .infoEjes3{
      top: -53vh;
      left: 158vh;
    }
    .infoEjes4{
      top: -42vh;
      left: 158vh;
    }

    .sistATCi{
      top: -110vh;
    }

    .infosistATC1{
      top: -72vh;
      left: 158vh;
    }

    .infosistATC2{
      top: -58vh;
      left: 158vh;
    }

    .infosistATC3{
      top: -44vh;
      left: 158vh;
    }

    .sistemRef{
      top: -110vh;
    }

    .infosistemRef1{
      top: -69vh;
      left: 158vh;
    }
    .infosistemRef2{
      top: -48vh;
      left: 158vh;
    }

    .sistLubr{
      top: -110vh;
    }



    

    
    



  }