:root{
    --negro:#212529;
    --gris:#343a40; 
    --grisClaro:#6c757d;
    --blanco:#dee2e6;
}




body{
    width: 100%;
    margin: 0 auto;
    font-family: "Cormorant Garamond", serif;
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

nav{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-rows: 50px;
    position: relative;
}

.logo{
    width: 50px;
    height: 50px;
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
}

.center ul{
    display: flex;
    justify-content:space-around;
    list-style: none;
    
}

.center li{
    margin-left: 15px;
    transition: all 0.3s;
    font-weight: bold;
    font-size: 18px;

}

.center li:hover{
    margin-top: 5px;
    font-size: 20px;
}


.right{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
}

.right img{
    width: 24px;
    height: 24px;
}

.contenedor{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(6, 1fr);
    height: 94vh;
    gap: 20px;
    justify-content: center;
    background-image: url(./img/fondo.jpg);
}


.punzonadora{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    max-width: 400px;
    min-width: 300px;
    max-height:370px;
    min-height: 100px;
    border: 1px solid black;
    border-radius: 15px;
    position: relative;
    background-color: #FFF;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    overflow: hidden;
    
    
}

.punzonadora img{
    width: 100%;
    
}


.punzonadora h2{
    display: grid;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    margin: 0;
    transition: all 0.5s;
    align-items: center;
   
}


.punzonadora h2:hover{
    transform: scale(1.5);
}

.dobladora{
  display: grid;
  grid-column-start: 3;
  grid-column-end: 5;
  
  max-width: 400px;
  min-width: 300px;
  max-height:400px;
  min-height: 10px;
  border: 1px solid black;
  border-radius: 15px;
  position: relative;
  background-color: #FFF;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  overflow: hidden;
    
  }
  
  .dobladora img{
    width: 100%;
    
  }
  
  
  .dobladora h2{
    display: grid;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    margin: 0;
    transition: all 0.5s;
    align-items: center;
   
  }
  
  
  .dobladora h2:hover{
    transform: scale(1.5);
  }
  
  
.punzonadora,.dobladora,.cnc{
  margin-left: 15%;
}

  
  @media screen and (max-width: 1366px) {
  
  .contenedor{
    height: 89vh;
  }

  .punzonadora, .cnc, .dobladora{
    margin:4%;
  }


  .dobladora h2{
    margin-top: 15px;
  }
  
  .cnc h2{
    margin-top: 15px;
    
  }

  .punzonadora h2{
    margin-top: 15px;
}
 
.punzonadora img,.dobladora img,.cnc img{
    margin: 0;
}


    
  /* .dobladora{
    grid-row-start: 4;
    grid-row-end:9;
  } */
  
  }

  
.cnc{
    display: grid;
    grid-column-start: 5;
    grid-column-end: 7;
    
    max-width: 400px;
    min-width: 300px;
    max-height:400px;
    min-height: 10px;
    border: 1px solid black;
    border-radius: 15px;
    position: relative;
    background-color: #FFF;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    overflow: hidden;
    
  }
  
  .cnc img{
    width: 100%;
    
  }
  
  
  .cnc h2{
    display: grid;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    margin: 0;
    transition: all 0.5s;
    align-items: center;
   
  }
  
  
  .cnc h2:hover{
    transform: scale(1.5);
  }
  
