:root{
    --negro:#212529;
    --gris:#343a40; 
    --grisClaro:#6c757d;
    --blanco:#dee2e6;
}




body{
    width: 100%;
    margin: 0 auto;
    font-family: "Cormorant Garamond", serif;
}

a{
    text-decoration: none;
    color: black;
}

nav{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-rows: 50px;
    position: relative;
}

.logo{
    width: 50px;
    height: 50px;
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
}

.center ul{
    display: flex;
    justify-content:space-around;
    list-style: none;
    
}

.center li{
    margin-left: 15px;
    transition: all 0.3s;
    font-weight: bold;
    font-size: 18px;

}

.center li:hover{
    margin-top: 5px;
    font-size: 20px;
}


.right{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
}

.right img{
    width: 24px;
    height: 24px;
}

.contenedor{
    display: flex;
    justify-content: center;
    background-image: url(./img/fondo.jpg);
}

table.tableizer-table {
    margin: 15px;
    font-size: 16px;
    border: 1px solid #CCC; 
    border-radius: 4px;
    background-color: var(--blanco);
    font-family: "Cormorant Garamond", serif;
} 
.tableizer-table td {
    padding: 4px;
    margin: 3px;
    border: 1px solid #CCC;
    border-radius: 4px;
}
.tableizer-table th {
    background-color: #104E8B; 
    color: #FFF;
    font-weight: bold;
    border-radius: 4px;
}