<div class="ContCilinPrinc inactive ">
        <div class="cilinPrinc">
            <img class="imgcilinPrinc"  src="./img/cilindro.jpg">
            <img class="close3"  src="./icons/close_FILL0_wght400_GRAD0_opsz24 (1).png" alt="">
            <div class="cilinPrincnfo">
                <p class="cilinPrinc1">Conjunto vastago cilindro subida<img  class="flechitaT1" src="./icons/flechita.png" alt=""></p>
                <p class="cilinPrinc2">Conjunto camisa cilindro subida<img class="flechitaT2"  src="./icons/flechita.png" alt=""></p>
            </div>
        </div>
        <div class="infoSec3 inactive">
            <div class="infoCilinP1  ">
                <p class="info1">Anillos de retencion</p>
            </div>
            <div class="infoCilinP2 ">
                <p class="info1">Tuercas</p>
            </div>
        </div>
    </div>


    
    .ContCilinPrinc{
      position: relative;
    
    }
    
    
    .cilinPrinc{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 40px 180px 80px;
    max-width: 600px;
    min-width: 400px;
    height: 350px;
    background-color: var(--blanco);
    z-index: 10;
    /* top: -800px;
    left: 25%; */
    border-radius: 20px;
    top: -130vh;
    left: 0;
    right: 0;bottom: 0;
    margin: auto;
    }
    
    .imgcilinPrinc{
      width: 200px;
      display: grid;
      grid-row-end:4 ;
      grid-row-start:2 ;
      align-self: center;
      margin-left: 25px;
      border-radius: 40px;
    }
    .cilinPrincnfo{
      display: grid;
      grid-row-end:4 ;
      grid-row-start:2 ;
      grid-column-start: 2;
      grid-column-end: 3;
      margin-left: 15px;
    }
    
    .close3{
      display: grid;
      grid-row-end:2 ;
      grid-row-start:1 ;
      grid-column-start: 2;
      grid-column-end: 3;
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
    }
    
    .cilinPrinc1,.cilinPrinc2,.cilinPrinc3,.cilinPrinc4,.cilinPrinc5{
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    
    .infoSec3 p{
      margin: 0;
    }
    
    .infoCilinP1{
      position: absolute;
      top: -74vh;
      left: 135vh;
      background-color: var(--blanco);
      padding: 5px;
      border-radius: 20px;
    }
    
    .infoCilinP2{
      position: absolute;
      top: -60vh;
      left: 135vh;
      background-color: var(--blanco);
      padding: 5px;
      border-radius: 20px;
    }
    
    


